<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/main.css">

    <title>TODO</title>
  </head>
  <body>
  <!-- As a heading -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/" id="nav">Todo App</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/write" id="nav">Write</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/list" id="nav">List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mypage" id="nav">My page</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  
  <h4 class = 'ml-2 my-3 text-center'><a href='http://localhost:8080/list' style="text-decoration:none; color : black">서버에서 가져온 TODOLIST</a></h4>

    <div class="container input-group mb-2">
      <input class="form-control" id="search-input">
      <button class="input-group-append btn btn-danger" id="search">검색</button>
    </div>
    
    <script>
      $('#search').click(function(){
        var search_input = $('#search-input').val();
        window.location.replace('/search?value=' + search_input);
      });
    
    </script>

    <div class="container">
      <ul class="list-group">
        <% for (var i = 0; i < posts.length; i++) { %>
        <li class="list-group-item">
          <div style="float:left;">
            <p>number : <%= posts[posts.length - 1 - i]._id %></p>
          </div>
          <div>
            <p style="float:right">닉네임 : <%= posts[posts.length - 1 - i].nickname %></p>
          </div>
          <h4 style="clear:both;"><a href = "http://localhost:8080/detail/<%= posts[posts.length - 1 - i]._id %>" style="color : black; text-decoration:none;">Task : <%= posts[posts.length - 1 - i].task %></a></h4>
          <p>Date : <%= posts[posts.length - 1 - i].date %></p>
          <button class = "btn btn-daner edit" data-id = "<%= posts[posts.length - 1 - i]._id %>">
            수정
          </button>
          <button class = "btn btn-daner delete" data-id = "<%= posts[posts.length - 1 - i]._id %>">삭제</button>
        </li>
        <% } %>
      </ul>
    </div>
    
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script>

        $('.delete').click(function(e){
          var num_of_post = e.target.dataset.id;
          var cur_clicked = $(this);
          $.ajax({
          method : "DELETE",
          url : "/delete",
          data : { _id : num_of_post }
          }).done(function(result){
            console.log("Done");
            cur_clicked.parent('li').slideUp();
          }).fail(() => {

          });

        })

        $('.edit').click(function(e){
          var e;
        })
        

      </script>








    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>


